name: Markdown Lint & Spell Check
on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Markdown Lint
        uses: DavidAnson/markdownlint-cli2-action@v1
        with:
          globs: "**/*.md"
      - name: Spell Check
        uses: crate-ci/typos@master
